.card {
    height: auto;
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 2px 1px rgba(153,153,153,0.2);
    padding: 10px;
}
.card-picture {
    border: 1px solid #ddd;
    height: 200px;
    width: 300px;
}
.card-text {
    margin-top: 10px;
    border: 1px solid #ddd;
}
.text-padding {
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.top-fact {
    font-style:italic;
}
.fact-list {
    list-style: none;
}

.label {
    font-weight: bold;
}
