body {
    font-family: 'Lato', sans-serif;
    color: #A2A2A2;
    font-weight: 300;
}

.footer {
  margin: 0;
  width: 100%;
  height: 80px;
}

.footer-left {
	margin-top:2px;
    padding-right: 0;
	padding-left: 5px;
}
.footer-right {
    margin-top:2px;
    padding-right: 5px;
	padding-left: 0;
}


hr.thick-muted {
	border-top: 2px solid #B8B8B8;
}

hr.thin-muted {
	border-top: 1px solid #B8B8B8;
    margin-bottom: 2px;
}

.text-muted {
    color: #B8B8B8;
}
.text-thin {
    font-weight: 100;
}

.title-super {
    color: #00A2FF;
    font-size: 50px;
}
.title-logo {
    margin-top: 20px;
}

.img-thumbnail:hover {
    cursor: pointer;
}

.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 40px;
  margin-right: 3px;
}

.social-icon a {
  color: #B8B8B8;
}

@media (hover:hover), (pointer:fine) {
	.social-icon a:hover {
	  color: #A2A2A2;
	}

	.social-icon-linkedin a:hover {
	  color: #00A2FF;
	}

	.social-icon-github a:hover {
	  color: #000;
	}
}

h6 {
    text-align: center;
}
